<!DOCTYPE html>
<html>
<head>
<title>Home Page</title>
</head>
<body>
<h2>Welcome To COMPETITIVE INTELLIGENCE</h2>
 <form  action="{{ url_for("form_data")}}" method="POST">
	
	<p>
		<label>ENTER COMPANY NAME : <input type="text" name="company_name" /></label>
		</p>
		<p>
			<label>ENTER KEYWORD : <input type="text" name="keyword" /></label>
			</p>
	
<p>
	<label for='start_time'>Please Enter start date (date):</label>
    <input type="date" id="company_time" name="start_time">
	</p>

	<p>
		<label for='end_time'>Please Enter end date (date):</label>
		<input type="date" id="company_time" name="end_time">
		</p>
	

	
<p>
	<button type="submit">Submit</button>
	</p>

<p>
    <strong >{{result}}</strong>
	</p>

</form>
</body>
</html>
